parameters:
  level: max
  fileExtensions:
    - php
  paths:
    - .
  excludePaths:
    analyse:
      - vendor
    analyseAndScan:
      - .vscode
      - var
      - vendor-bin
      - .php-cs-fixer.php
      - rector.php
  tmpDir: var/cache/phpstan
